.logo {
    width: 65px;
    height: 65px;
    border-radius: 100%;
    object-fit: fill;
}

#encabezado-principal {
    color: var(--dark-color-texto);
    font-family: "Rubik";
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background: linear-gradient(180deg, var(--dark-color-acento-1) 0%, var(--dark-color-acento-2) 100%);
}

.nombre-del-sitio {
    font-size: 30px;
    font-weight: bold;
}

.menu-usuario {
    gap: 22px;
    font-size: 1.2rem;
}

.menu-usuario a:hover {
    color: var(--dark-color-acento-3);
    text-decoration: underline;
    text-underline-offset: 5px;
}

@media (width<=780px) {

    .nombre-del-sitio {
        font-size: 18px;
    }

    .menu-usuario {
        font-size: 13px;
        text-wrap: nowrap;

    }
}