#lista-categorias {
   color: var(--light-color-acento-3);
   list-style: none;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-around;
   gap: 15px 5px;
   padding: 10px;
   width: 90%;
   margin: auto;
}

.tab-categoria {
   font-family: "Martel";
   color: var(--light-color-acento-3);
   font-size: 16px;
   display: block;
   border: none;
   border-radius: 0.3em;
   padding: 15px;
   background-color: var(--dark-color-acento-1);
   transition: all ease-in 0.2s;
}

.tab-categoria:hover {
   color: var(--dark-color-acento-2);
   background-color: var(--dark-color-acento-3);
}

#seccion-categoria {
   margin: 50px auto;
   flex-wrap: wrap;
   justify-content: center;
   gap: 30px;
}

.articulo-categoria {
   color: var(--dark-color-texto);
   font-family: "Roboto Slab";
   justify-content: space-evenly;
   gap: 5px;
   border-radius: 12px;
   border: solid 1px var(--dark-color-acento-3);
   width: 250px;
   padding-bottom: 10px;
   transition: transform 0.3s ease-in-out;
   cursor: pointer;
   overflow: hidden;
}

.header-articulo {
   width: 250px;
}

.item-valor-portada {
   width: 100%;
   height: 355px;
   aspect-ratio: 30/41;
   object-fit: fill;
   border-top-left-radius: 12px;
   border-top-right-radius: 12px;
}

.item-valor-nombre {
   font-size: 18px;
   font-weight: 600;
   font-family: 'Rubik';
   padding: 0 10px;
   width: 100%;
   overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
   text-overflow: ellipsis;
   line-height: 1.2em;
   max-height: calc(1.35em * 2);
}

.item-valor-autor {
   padding-left: 10px;
   color: var(--light-color-acento-1);
   font-family: 'Martel';
   font-weight: 800;
   font-size: small;
   margin: 5px 0;
}

.articulo-categoria:hover {
   transform: scale(1.03);
   box-shadow: 0px 0px 12px var(--dark-color-acento-1);

}


.active {
   color: var(--dark-color-acento-2);
   background-color: var(--light-color-fondo);
}

@media (width <=980px) {
   #lista-categorias {
      width: 100%;
   }
}