.formulario {
    width: 350px;
    margin: 3rem auto;
    padding: 30px 20px;
    flex-direction: column;
    gap: 20px;
    border: 1px solid var(--dark-color-acento-1);
    border-radius: 12px;
    color: var(--dark-color-texto);
    background-color: var(--dark-color-acento-1);
    text-align: center;
}

.contenedor-de-inputs {
    flex-direction: column;
    gap: 10px;
}

.contenedor-de-inputs input {
    min-height: 40px;
    padding: 8px;
    border: solid 2.5px transparent;
    border-radius: 8px;
    background-color: var(--light-color-acento-3);
    outline: none;
}

.formulario a {
    text-decoration: underline;
    color: var(--dark-color-hipervinculo);

}

.formulario button {
    background: var(--dark-color-acento-3);
    color: var(--dark-color-acento-2);
    padding: 10px;
    border: none;
    border-radius: 8px;
    width: 80%;
    margin: auto;
    font-weight: bolder;
}

.formulario p {
    font-size: 0.9em;

}

.formulario button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}