* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: var(--dark-color-acento-2);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   max-width: 100vw;
   min-height: 100vh;
}

a {
   text-decoration: none;
   color: var(--dark-text-color);
}

.d-flex {
   display: flex;
}

#lista-categorias {
   color: var(--light-color-acento-3);
   list-style: none;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   gap: 10px;
}


#navegacion-categoria {
   background-color: var(--dark-color-acento-1);
   padding: 10px;
}

.tab-categoria {
   color: inherit;
   font-family: "Martel";
   font-size: 20px;


}

.tab-categoria:hover {
   color: var(--dark-color-acento-2);
   text-decoration: underline;
}

#seccion-categoria {
   margin: 50px auto;
   width: 95%;
}

.articulo-categoria {
   color: var(--dark-color-texto);
   font-family: "Roboto Slab";
   align-items: center;
   justify-content: space-evenly;
   width: 80%;
   margin: 45px auto;
   border-radius: 12px;
   border: solid 1px var(--dark-color-acento-3);
   flex-direction: column;
   padding: 40px;
}

.item-valor-portada {
   width: 250px;
   height: 355px;
   object-fit: fill;
}


#footer-principal {
   background-color: var(--dark-color-acento-1);
   color: var(--light-color-acento-3);
   font-family: "Martel";
   font-size: 12px;
   padding: 20px;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

#qr-code {
   width: 100px;
   height: 100px;
}

.item-valor-nombre {
   font-size: 30px;
   font-weight: 600;
   text-decoration: underline;
}