#lista-categorias {
   color: var(--light-color-acento-3);
   list-style: none;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-around;
   gap: 15px 5px;
   padding: 10px;
   width: 90%;
   margin: auto;
}

.tab-categoria {
   font-family: "Martel";
   font-size: 16px;
   display: block;
   border: 3px solid;
   border-color: var(--dark-color-acento-1);
   border-radius: 0.3em;
   padding: 15px;
   background-color: var(--dark-color-acento-1);
}

.tab-categoria:hover {
   color: var(--dark-color-acento-2);
   text-decoration: underline;
}

#seccion-categoria {
   margin: 50px auto;
   flex-wrap: wrap;
   justify-content: center;
   gap: 30px;
}

.articulo-categoria {
   color: var(--dark-color-texto);
   font-family: "Roboto Slab";
   justify-content: space-evenly;
   width: 46%;
   border-radius: 12px;
   border: solid 1px var(--dark-color-acento-3);
}

.header-articulo {
   width: 250px;
}

.item-valor-portada {
   width: 250px;
   height: 355px;
   object-fit: fill;
   border-top-left-radius: 12px;
}

.item-valor-nombre {
   font-size: 30px;
   font-weight: 600;
   overflow-x: hidden;
   text-wrap: nowrap;
   text-overflow: ellipsis;
   font-family: 'Rubik';
   padding: 8px;
}

.item-valor-autor {
   padding-left: 10px;
   color: var(--light-color-acento-1);
   font-family: 'Martel';
   font-weight: 800;
   font-size: small;
}

.item-valor-descripcion {
   position: absolute;
   width: 45.8%;
   min-height: 355px;
   padding: 30px;
   border-radius: 12px 12px 0 0;
   font-size: 15.5px;
   color: var(--light-color-acento-1);
   line-height: 3ch;
   transition: all ease .35s;
   cursor: pointer;
}

.item-valor-descripcion {
   opacity: 0;
}

.contenido {
   /* CAJA QUE CONTIENE LA CAJA DE LA IMAGEN Y EL CONTENIDO (detalles) */
}

.detalle-articulo {
   width: calc(100% - 250px);
   flex-direction: column;
   justify-content: center;
   padding: 20px;
}

.detalle-articulo p {
   margin-bottom: 12px;
}

.articulo-categoria:hover {
   && .item-valor-descripcion {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.9);
   }
}


@media (width <=980px) {
   #lista-categorias {
      width: 100%;
   }

   .articulo-categoria {
      width: 300px;
   }

   .item-valor-descripcion {
      width: 298px;
      height: 320px;
      overflow: hidden;
      text-overflow: ellipsis;
   }

   .contenido {
      flex-direction: column;
   }

   .detalle-articulo{
      display: none;
   }

   .item-valor-portada {
      width: 298px;
      object-fit: cover;
      border-top-right-radius: 12px;
   }
}