/* URL Paleta de colores LIGHT: https://www.coloreasily.com/?colors=100704-ffffff-ebb2c2-f6f0df-f9e7ec */
/* URL Paleta de colores DARK: https://www.coloreasily.com/?colors=ffffff-1c1719-a55072-5b1a35-d080a2 */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Martel");
@import url("https://fonts.googleapis.com/css2?family=Roboto Slab");

:root {
   --light-color-texto: #100704;
   --light-color-fondo: #ffffff;
   --light-color-acento-1: #ebb2c2;
   --light-color-acento-2: #f6f0df;
   --light-color-acento-3: #f9e7ec;
   --dark-color-texto: #ffffff;
   --dark-color-fondo: #1c1719;
   --dark-color-acento-1: #a55072;
   --dark-color-acento-2: #5b1a35;
   --dark-color-acento-3: #d080a2;

   --dark-color-hipervinculo: #44076d;
}

.light-theme {
   color: #100704;
   background-color: #ffffff;
}

.dark-theme {
   color: #ffffff;
   background-color: #1c1719;
}